.App-Content {
  text-align: center;
  flex: 1 0 auto
}

.Footer {
  flex-shrink: 0;
}

.Home-Img{
  max-height: 50%;
  max-width: 50%;
}

.Sidebar{
  height: 100%;
  width: 50px;
  background-color: black;
  position: absolute;
}

.Right-Sidebar{
  
}
