@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Quattrocento&display=swap');
.App-Content {
  
  flex: 1 0 auto,

}

.Footer {
  flex-shrink: 0;
}

.Home-Img{
  max-height: 50%;
  max-width: 50%;
}

.Sidebar{
  height: 100%;
  width: 50px;
  background-color: black;
  position: absolute;
}



p{
  font-family: 'Nunito Sans', sans-ser;
  font-size: 20px;
}

